<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>About</h2>
      <hr>
      <p>I'm a Web Developer originally from NYC and living in Philadelphia. I know a little bit about a lot and I'm always looking to learn something new and keep growing my knowledge base.
      <br>
      <p>I've been interested in the world of tech for many years and I am certified in Web Design and Web Development. I enjoy spur of the moment travel plans, crocheting, and <i>trying</i> to cook.</p>
       <p>Check me out on <a href="https://www.linkedin.com/in/michellecolon">LinkedIn!</a></p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Projects</h2>
      <hr>
      <% @projects.each do |project| %>
        <h3><a href="#"><%= link_to project.title, project %></a></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
      <% end %>     
    </div>
    <div class="col-3 homepage_content">
      <h2>Blog</h2>
      <hr>
      <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>
  </div>
