<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>This is supposed to be really long paragraph that tells you a whole bunch of stuff about me, but for now I'm just going to leave it like this and hope this whole thing is successful so that I can eventually add legit content to this.</p>
     <p>Things and stuff and more stuff and junk for example's sake.<a href="#"> this is a test link</a></p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Projects</h2>
    <hr>
    <h3><a href="#">Project 1<a/></h3>
    <p class="date">Friday July 1st</p>
    <h3><a href="#">Project 2<a/></h3>
    <p class="date">Saturday July 2nd</p>
    <h3><a href="#">Project 3<a/></h3>
    <p class="date">Sunday July 3rd</p>     
  </div>
  <div class="col-3 homepage_content">
    <h2>Blog</h2>
    <hr>
    <h3><a href="#">Blog Post 1</a></h3>
    <p class="date">Friday July 1st</p>
    <h3><a href="#">Blog Post 2<a/></h3>
    <p class="date">Saturday July 2nd</p>
    <h3><a href="#">Blog Post 3<a/></h3>
    <p class="date">Sunday July 3rd</p>
  </div>
</div>

<footer id="main_footer">
  <p class="copyright">&copy;2016 Michelle Col&oacute;n</p>
  <nav>
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </nav>
</footer>
</body>